
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
    list-style-type: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img1{
    width: 100px;
    margin-left: 20px;
}
.main1{
    background-image: linear-gradient(rgba(00, 00, 000, 0.5),rgba(00, 00, 000, 0.5)), url(../images/img3.jpg);
    height: 750px;
    background-repeat: no-repeat; 
    background-position: center ;
    background-size: cover;
    background-attachment: fixed;
} 
.section1-child1{
    text-align: center;
    align-items: center;
}

.section1-child2{
    font-size: 40px;
    font-weight: bold;  
    }

    .make h4{ 
        font-size: 25px;
    color: #242A56;
    font-weight: bold;
    }
    .section2-child2{
        text-align: center;
    }
    .section2-child3{
        font-size: 35px;
        /* padding: 0px 0px 30px; */
        font-weight: bold;
    }
    .section3-child1{
        background-color: #F9F9FF;
    }

    .section4-child1{
        background-color: #F9F9FF;
    }
    .section4-child1:hover, .foot5{
        background-color: #B01AFE;
        color: #ffffff;
    }
    .section5-child1{
        margin: 150px 0px 150px 0px;
        overflow-x: hidden; 
    }
    .section6{
        text-align: center;
        align-items: center;
    }
    .section6-child3{
        color: #B01AFE;
        font-weight: bold;
        justify-content: center;
        font-size: 48px;
    }
     .section8-child1{
        background-color: #B01AFE;
        border: none; 
     }
     .foot1{
        background-color: #222222;
     }
     .foot2{
        margin: 80px 0px 0px 0px;
     }
     .foot4 input::placeholder{
        color: #888888;
     }
     .section7-child1{
        background-image: linear-gradient(rgba(81, 104, 161, 0.9),rgba(81, 104, 161, 0.9)),url(../images/img12.jpg);
        width: 100%;
        height: 500px;
        background-repeat: no-repeat; 
        background-position: center ;
        background-size: cover;
        text-align: center;
        align-items: center;
     }
     .dropdown-item:hover {
        background-color: #888888;
      }

@media only screen and (min-width: 768px){
    .section6-child1{
        margin: 90px 0px 0px -90px;
        text-align: center;

     }
     .section6-child2{
        margin: 50px 0px 0px -60px;
        padding-right: 0px;
        text-align: left;
        width: 500px;
      } 
      .img1{
        width: 150px;
        margin-left: 20px;
    }
}

@media only screen and (min-width: 992px){
.section1-child3{
    width: 1000px;
    padding-left: 300px;
    text-align: center;
    align-items: center;
}
.section2-child1{
    z-index: 1;
    margin: 100px 0px 0px 90px;
}
.section2-child2{
    z-index: -1;
    border: 1px solid black;
    padding: 50px 100px 50px 100px;
    box-shadow: 3px 3px 8px 8px #888888;
    text-align: left;
}
.section6-child1{
   padding: 0px 180px 0px 0px;
   text-align: right;
}
.section6-child2{
    padding: 20px 0px 0px 0px;
    overflow-x: hidden; 
 } 
 .foot2{
    margin: 100px 0px 0px 100px;
 }
 .foot3{
    width: 450px;
 }
 .foot1{
    height: 500px;
 }
 .section3-child2{
    width: 600px;
 }
 .img1{
    width: 200px;
    margin: 10px 400px 0px 20px;
}
}